name: Sync

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          git remote add upstream https://github.com/shuaiplus/nodewarden.git || true
          git fetch upstream
          git reset --hard upstream/main
          git push origin main --force