name: Sync

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync
        continue-on-error: true
        run: |
          git remote add upstream https://github.com/klaas8/MT.git || true
          git fetch upstream
          #git reset --hard upstream/main
          git checkout upstream/main
          git push origin main --force