name: Sync

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Backup excluded file
        run: |
          # 如果文件存在，则备份到临时位置
          if [ -f "prefs.sqlite" ]; then
            cp prefs.sqlite /tmp/prefs.sqlite.backup
            echo "File backed up."
          else
            echo "File not found, skipping backup."
          fi

      - name: Sync from upstream
        continue-on-error: true
        run: |
          git remote add upstream https://github.com/klaas8/MT.git || true
          git fetch upstream
          git reset --hard upstream/main

      - name: Restore excluded file
        run: |
          # 如果备份存在，则恢复文件
          if [ -f "/tmp/prefs.sqlite.backup" ]; then
            cp /tmp/prefs.sqlite.backup prefs.sqlite
            echo "File restored."
            # 重新添加文件到暂存区，因为重置操作会清除所有更改
            git add prefs.sqlite
          else
            echo "No backup found, skipping restore."
          fi

      - name: Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Sync from upstream, restore excluded file" || echo "No changes to commit"
          git push origin main
